/*  your css code here. If applicable */
.container{
	display:flex;
	flex-direction:column;
	width:300px;
	row-gap:15px
}
input{
	width:200px;
	margin:5px;
	padding:5px
}
button{
	width:200px;
	margin:5px;
	padding:5px
}
.board{
	display:none;
	flex-wrap:wrap;
	width:350px;
	height:200px;
}
.board div{
	width:100px;
	height:70px;
	border:1px solid black;
	cursor:pointer
}

